.Menu {
  padding: 15px 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgrey;
  @media only screen and (max-width: 440px) {
    padding: 16px;
  }
}

.Logo {
  height: 55px;
  @media only screen and (max-width: 440px) {
    display: none;
  }
}

.MenuNavList {
  display: flex;
}

.MenuNavItem {
  margin-right: 12px;
  font-family: "Soyuz Grotesk", sans-serif;
}

.MenuSocials {
  display: flex;
}

.MenuSocials svg {
  margin-right: 12px;
  font-size: 1.4rem;
}
